<div>


    <form [formGroup]="loginForm"  class="form-inline my-2 my-lg-0">
        <mat-form-field class="example-full-width">
          <input  formControlName="email" matInput placeholder="Login" #login >
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input  formControlName="password" matInput placeholder="Password" #password >
        </mat-form-field>

        <button mat-raised-button (click)="loginBtn()" color="primary">Login</button>
      </form>



</div>

{{data | async | json }}