<div class="container">
    <div class="row">
      <div class="col border m-1">
        <p>{{(data | async)?.city.name }}</p>
        <p>Lat : {{(data | async)?.city.coord.lat}} , Lon : {{(data | async)?.city.coord.lon}} </p>
      </div>
      <div class="col">
       
            <div  class="row">
              <div  *ngFor="let day of (data | async)?.list ; let i = index" class="col border m-2">
                  <h1>{{day.temp.min}}°</h1>
                  <img src="http://openweathermap.org/img/wn/{{day.weather[0].icon}}@2x.png"/>
                  <p>{{day.dt*1000 | date:'short'}}</p>
              </div>
            </div>
         
      </div>
   
    </div>
  </div>

  <!-- {{ data | async | json}} -->